q {
	quotes: "“" "”" "‘" "’";
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}

.iconimg img {
	height: 1.75em;
    vertical-align: bottom;
}

div.choices > div::before {
	content: "> ";
}

.hidden {
	visibility: hidden;
}

.warn {
	color: red;
}

#textbox-pcage {
	width: 3em;
}